.lotto__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 500px;
  animation: flicker 1.5s infinite alternate;
  margin: 0 auto;
  margin-top: 30px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 5px;
}

.lotto__wrap .ball {
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.bonus + .ball {
  margin: 0;
}

.lotto__wrap .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.lotto__wrap .bonus {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.lotto__wrap .button {
  margin: 20px 0px 0px 0px;
}
