.t__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 500px;
  animation: flicker 1.5s infinite alternate;
  margin: 0 auto;
  margin-top: 30px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 5px;
}

.t__wrap table {
  border-collapse: collapse;
  margin: 30px 0;
}

.t__wrap td {
  border: 7px solid #2f3857;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  color: #4d1d39;
}

.t__wrap .result {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
}

.t__wrap .winner {
  font-size: 24px;
  text-align: center;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
      inset 0 0 2rem #08f, 0 0 4rem #08f, inset 0 0 4rem #08f;
  }
}
